meta(charset="utf8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")

//- generic meta
meta(name="application-name" content=name)
meta(name="description" content=description)
meta(name="author" content=author.name)
meta(name="url" content=homepage)